<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="provider" value="System.Data.SqlClient" />
    <add key="connectionString" value="Data Source=DESKTOP-3JUHAS2; Initial Catalog=BooksyDB; Integrated Security = True; user id=db_user; password = aaakotkidwa " />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<connectionStrings><add name="BooksContext" connectionString="data source=DESKTOP-3JUHAS2;initial catalog=libdb;Integrated Security=SSPI; MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" /></connectionStrings>
</configuration>